@import '../../mixins.scss';

.converter-app__field {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.converter-app__field-buttons,
.converter-app__field-input {
  @include border;
}

.converter-app__field-buttons {
  height: 60px;
}

.converter-app__currency-btn {
  width: 90px;
  height: inherit;
  border-radius: 5px;
  font-size: 25px;

  &:hover {
    background-color: #92e692;
  }

  &:active {
    @include active;
  }

  &:disabled {
    background-color: #fff;
    color: #000;
    cursor: auto;
  }
}

.converter-app__currency-btn:last-child {
  width: 75px;
  outline: none;
}

.btn-image {
  width: 30px;
  height: 30px;
}

.active {
  @include active;
}

.converter-app__field-input {
  height: 150px;
  padding: 15px;
  font-weight: 700;
  font-size: 75px;
}
