@import './mixins.scss';

.converter-app {
  @include border;

  margin: 70px auto;
  width: 800px;
  height: 250px;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
