@import './mixins.scss';

.converter-app {
  @include border;

  margin: 50px auto;
  width: 800px;
  height: 250px;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.header {
  margin-top: 20px;
  text-align: center;
  font-size: 27px;
}
